@charset "UTF-8";

#container {
	width: 1200px; /* 전체 너비 */
	margin: 20px auto; /* 브라우저의 중앙에 배치 */
	background-color: #eee;
}

#header {
	width: 100%; /* 부모 요소(div)와 너비를 동일하게 지정 */
	height: 120px;
	background-color: #acacac;
}

#sidebar {
	width: 300px; /* 사이드바 너비 */
	height: 600px;
	background-color: #f7f7f7;
	float: left; /* 왼쪽으로 float */
}

#contents {
	width: 900px; /* 본문 너비 */
	height: 600px;
	background-color: #e9e9e9;
	float: left; /* 왼쪽으로 float */
}

#footer {
	width: 100%; 
	height: 100px;
	background-color: #ccc;
	clear: left; /* float 해제 */
}