@charset "UTF-8";

body {
	height: 2000px; /* 세로 스크롤바 생성 */
}

div {
	width: 300px;
	height: 200px;
	border: 5px solid black;
	text-align: center;
}

/* 위치 속성과 position 속성을 이용한 블록 요소 배치 */
/* 1. 위치속성 : left, right, top, bottom */
/* 2. position 속성 : static, relative, absolute, fixed */
/* position 속성을 지정하지 않으면 위치 속성이 동작하지 않음 */

#box1 {
	/* static : 기본값, 문서의 흐름에 맞추어서 이동(고정된 위치) */
	position: static;
	left: 100px;
	top: 100px;
	background-color: red;
}

#box2 {
	/* relative : 현재 요소의 위치를 기준으로 상대적으로 이동 */
	/*  */
	position: relative;
	left: 100px;
	top: 100px;
	background-color: green;
}

#box3 {
	/* absolute : 부모요소가 없을 경우 body 영역의 위치를 기준으로 이동 */
	position: absolute;
	left: 300px;
	top: 200px;
	background-color: blue;
}

#box4 {
	/* fixed :  브라우저 창(뷰포트) 위치를 기준으로 이동 */
	position: fixed;
	left: 500px;
	top: 200px;
	background-color: yellow;
}